node_modules/
build/
dist/
.env
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Guthub pass.txt
db_instructions.md
supabase dets.txt
vercel_instructions.md
MONGODB_URI.txt

.vercel
